<!DOCTYPE html>
<html>
    <head>
        <title>User Entry From App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/style.css" >
        <script src="pagination.js"></script>
    </head>
    <body class="bg-info">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="background-color:#fff;margin-top:5%;padding:2%" >
                    {{{body}}}
                </div>
            </div>
        </div>
       
    </body>
</html>